@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Mirza:wght@400;500;600;700&family=Passions+Conflict&family=Purple+Purse&display=swap');

/* font-family: 'Cardo',serif;
font-family: 'Mirza',serif;
font-family: 'Passions Conflict',cursive;
font-family: 'Purple Purse',cursive; */

.font-mirza {
    font-family: 'Mirza', serif;
}

.font-passion {
    font-family: 'Passions Conflict', cursive;
}

.font-cardo {
    font-family: 'Cardo', serif;
}

.font-purple {
    font-family: 'Purple Purse', cursive;
}